* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* change {.class} to {header} */
/* remove all {.class} except for {.hero , .float-left , .float-right} */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 span {
    color: #d9dcd6;
}
/* remove extra {.header-class} and replace with {nav} */
/* {header} is parent of {nav} */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*{nav} is parent to {ul}*/

header nav ul {
    list-style-type: none;
}
/* sets an unordered list within {nav}*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* {li} is parent to {a}*/
/* customization for <href-link> inside <a>*/
a {
    color: #ffffff;
    text-decoration: none;
}


.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* remove <p> and add font size into <main> */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}
/* remove {div-class=benefits} to {section} */

section {
    margin-right: 20px;
    padding: 33px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* change {.benefit} to {aside} */ 
aside {
    margin-bottom: 32px;
    color: #ffffff;
}

/* coresponds as <h3> child tag to <aside> parent */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* corespnds to <asside img>*/
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* establish {article-id} as parent to <h2> and <p> tags */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* rename to {article img} to link to <image link>*/ 
article img {
    max-height: 200px;
}

/* adds customization to <h2> tags within <article> parent */ 
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* remove {.footer} to <footer> */
/* adds cutomization to <footer> tag */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}
/* specifies how to customize <h2> tag inside <footer> parent*/
footer h2 {
    font-size: 20px;
}
